<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Mass Activites</title>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>Appointment Table</h3>
			
			<hr/>
			
			<th>
				<p align="right">	
    					<a href="http://localhost:8080" class="btn btn-outline-info" role="button">Ana Sayfa</a>              

				</p>
				
				
			</th>
			
			<table class="table table-bordered table-striped">
			
				<thead>
									
					<tr>
						<th>ActivityId</th>
						<th>Activity Type</th>
						<th>Customer Id</th>
						<th>Animator Id</th>
						<th>Name</th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="app: ${App}">
						<td th:text="${app.ID}" />
						<td th:text="${app.ActivityType}" />
						<td th:text="${app.AnimatorPhone}" />
						<td th:text="${app.CustomerPhone}" />
						<td th:text="${app.Name}" />
						
					</tr>
				</tbody>
				
			</table>
		</div>
		

	</body>
	
</html>